@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

@theme {
    --font-sans: "Josefin Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* colors */
    --color-ubuntu: #300924;
    /* font sizes */
    --text-monopoly-s: 10px;
    --text-monopoly-s--line-height: 1.3333rem;
    --text-monopoly-s--font-weight: 500;
    --text-monopoly-m: 13px;
    --text-monopoly-m--line-height: 1.3333rem;
    --text-monopoly-s--font-weight: 700;
}
  
html, body {
    @apply bg-black text-white;
}

@utility scrollbar-none {
    scrollbar-width: none;
}

@utility scrollbar-thin {
    scrollbar-width: thin;
}

@utility scrollbar-ubuntu {
    scrollbar-color: var(--color-white) var(--color-ubuntu);
}

@utility scrollbar-black {
    scrollbar-color: var(--color-white) transparent;
}

@keyframes kf-modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
@utility animate-modal-zoom {
  animation: kf-modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}